<div class="gchartcontainer">
  <div class="gchartlbl gcontainercol right-header"></div>
  <div class="glistlbl gcontainercol left-header"></div>
  <div class="glabelfooter"></div>
  <div class="gchartgrid gcontainercol right-body"></div>
  <div class="glistgrid gcontainercol left-body"></div>
  <div class="ggridfooter"></div>
</div>